<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mopo.mapper.TBlogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mopo.entity.TBlog">
        <id column="id" property="id" />
        <result column="appreciation" property="appreciation" />
        <result column="commentabled" property="commentabled" />
        <result column="content" property="content" />
        <result column="create_time" property="createTime" />
        <result column="description" property="description" />
        <result column="first_picture" property="firstPicture" />
        <result column="flag" property="flag" />
        <result column="published" property="published" />
        <result column="recommend" property="recommend" />
        <result column="share_statement" property="shareStatement" />
        <result column="title" property="title" />
        <result column="update_time" property="updateTime" />
        <result column="views" property="views" />
        <result column="type_id" property="typeId" />
        <result column="user_id" property="userId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, appreciation, commentabled, content, create_time, description, first_picture, flag, published, recommend, share_statement, title, update_time, views, type_id, user_id
    </sql>


</mapper>
